* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Attari_Salees, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lato', sans-serif;
    color: black;
}

@font-face {
    font-family: Attari_Salees;
    src: url("./Attari_Salees.ttf");
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgb(255, 255, 255)), url("./design1_image1.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

header #title {
    padding: 2rem;
    /* font-family: Attari_Salees; */
    font-size: 3rem;
    color: rgba(248, 225, 46);
    text-shadow: 3px 3px 2px rgba(198, 72, 50), 5px 5px 4px black,
        -2px -2px 4px black;
}

#subtitle {
    display: flex;
    align-self: flex-start;
    justify-self: center;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: black;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: 1px 1px 5px rgb(255, 65, 255), 1px 1px 5px rgb(255, 255, 255);
    }

    100% {
        text-shadow: none;
    }

}

#subtitle2 {
    display: flex;
    align-self: flex-start;
    justify-self: center;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: black;
}

header #logo {
    padding: 1rem;
}

header #logo img {
    width: 8rem;
    -webkit-filter: drop-shadow(4px 4px 3px white) drop-shadow(-4px -4px 3px white);
    filter: drop-shadow(4px 4px 3px white) drop-shadow(-4px -4px 3px white);
}

nav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

nav>a {
    transition: .2s ease-in-out;
    color: blaCK;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    width: 150px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0.1) 50%) right;
    border-radius: 0 15px 15px 0;
    background-size: 200%;
    transition: .2s ease-in-out;

}

nav>a.active {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

nav>a:hover:not(.active) {
    background-position: left;
    background-color: rgb(255, 255, 255, 0);
    transition: 0.3s;
}

.container {
    display: flex;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#calendar {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    align-items: flex-start;
    align-content: flex-start;
}


#calendar>.event {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: transform .1s ease-in-out;
}

#calendar>.event:hover {
    transform: translate(2px, -4px);
}

#calendar>.event h3 {
    display: flex;
}

#calendar>.event .day {
    color: azure;
    background-color: black;
    padding: 1rem;
    border-radius: 15px 0 0 0;
    box-shadow: 2px 2px 5px black;
}

#calendar>.event .month {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(112, 3, 103), rgba(0, 212, 255, 1));
    padding: 1rem;
    border-radius: 0 15px 0 0;
    flex-grow: 1;
    box-shadow: 2px 2px 5px black;
}

#calendar p {
    padding-left: 2rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px black;
    flex-grow: 1;
}

a[href^="mailto:"] {
    color: blue;
    font-weight: normal;
    text-decoration: none;
}

#contact-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

#contact-info p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-indent: 25px;
}

#contact-info article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

#about {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

#about p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-indent: 25px;
}

#about article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

#about article p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#rules {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

#rules section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

.gradient-headline {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    background: linear-gradient(90deg, rgb(112, 3, 103) 40%, rgba(0, 212, 255, 0.5) 80%, rgba(0, 212, 255, 0) 100%);
    color: azure;
}

#rules section p,
#rules section ol,
#rules section ul {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#rules li::marker {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(112, 3, 103, 0.6), 0 0 0.1em rgba(0, 212, 255, 0.4);
}

#rules section li {
    list-style-position: inside;
}

#rules section li:not(:last-child) {
    padding-bottom: 1rem;
}

#rules .resaltar {
    font-weight: bold;
}

#allplay-list {
    list-style-type: circle;
}

#game-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
}

#game-info>table {
    border-collapse: collapse;
    border: 1px solid black;
}

#game-info>table tr:nth-child(4n+1),
#game-info>table tr:nth-child(4n+2) {
    background-color: rgba(0, 0, 0, 0.1);
}

#game-info>table tr {
    border-collapse: collapse;
    border: 1px solid black;
}

#game-info>table>caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 1rem;
    font-style: italic;
    text-decoration: underline;
}

#game-info>table>thead tr {
    background: linear-gradient(90deg, rgb(112, 3, 103) 40%, rgba(0, 212, 255, 1) 100%) !important;
    color: azure;
    text-shadow: 1px 1px 5px rgba(112, 3, 103, 1), 0 0 0.1em rgba(0, 212, 255, 0.4);
    
}

#game-info>table>thead tr th {
    color: azure;
}

#game-info>table td,
#game-info>table th {
    padding: 0.5rem;
}

#game-info>table td:nth-child(1) {
    text-align: right
}

#game-info>table td:nth-child(4) {
    text-align: center
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
}

.photo {
    overflow: clip;
    background-color: black;
    box-shadow: 3px 3px 10px black;
    width: 200px;
}

.photo img {
    transition: transform .2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0.9;
    width: 100%;
    max-width: 250px;
    vertical-align: top;
    object-fit: cover;
    transform: scale(100%);
}

.photo img:hover {
    transition: transform .2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 1;
    transform: scale(120%);
}